* {
    font-family: 'Geo', sans-serif;
}

#main-image {
    background-image: url("../Sources/earth.jpg");
    height: 100vh;
    animation: bgc-effect linear infinite 40s;
    background-position: center;
    background-size: cover;
}

#chartdiv {
    width: 600px;
    height: 600px;
}

#chartdiv:hover {
    cursor: pointer;
}

@keyframes bgc-effect {
    0% {
        background-position: 6% 0%;
    }
    10% {
        background-position: 12% 2%;
    }
    20% {
        background-position: 21% 23%;
    }
    50% {
        background-position: 42% 17%;
    }
    60% {
        background-position: 32% 25%;
    }
    80% {
        background-position: 18% 14%;
    }
    100% {
        background-position: 3% 7%;
    }
}
